.flip {
  animation: rotateY 0.5s;
}

@keyframes rotateY {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.flip-back {
  animation: rotate-back-Y 0.5s;
}

@keyframes rotate-back-Y {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
