@font-face {
  font-family: adventureFont;
  src: url(../fonts/adventure-font.ttf);
}

@font-face {
  font-family: cardFont;
  src: url(../fonts/Macondo-Regular.ttf);
}


.adventure-font {
  font-family: adventureFont;
  margin: 0;
  padding: 0;
}

.card-font {
  font-family: cardFont;
  margin: 0;
  padding: 0;
}

.front,
.back {
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.back {
  background-image: url(../images/adventure_time_logo.jpeg);
}